@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");

html {
  background: url("./images/backgroundbubb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  display: block;
  text-align: center;
  height: 200px;
  position: relative;
  font-family: "Teko", san-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: brown;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em black;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  /* clip-path: polygon(0% 100%, 0% 0%, 500% 100%, 0% 100%); */
}

h1::before {
  animation: crack1 2.5s linear infinite;
  clip-path: polygon(0% 0%, 110% 0%, 100% 100%, 0% 100%);
}

h1::after {
  animation: crack2 2.5s linear infinite;
  clip-path: polygon(4% 0%, 00% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }
  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.neon {
  text-align: center;
  font-family: "Teko", san-serif;
  color: chocolate;
  font-size: 50px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.btn {
  width: 250px;
  height: 100px;
  margin: 80px;
  top: 80px;
  left: 500px;
  border-radius: 38px;
  border-width: 1px;
  border-top-width: 1px;
  cursor: pointer;
  text-align: center;
  font-size: 5rem;
  background-color: lightgreen;
  font-family: "Teko", san-serif;
  opacity: 1;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

a {
  text-decoration: none;
  color: inherit;
}

/* .start img {
  width: 250px;
  height: 100px;
  margin: 80px;
  top: 80px;
  left: 500px;
  position: center;
  border-radius: 38px;
  border-width: 1px;
  border-top-width: 1px;
  background-size: cover;
} */
