@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");

html {
  background: url("./images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* body {
  background-image: url("./images/background.png");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 100%;
  height: auto; */

h1 {
  display: block;
  text-align: center;
  height: 200px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: brown;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em black;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;
}

h1 span {
  text-align: center;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 100%, 0% 0%, 500% 100%, 0% 100%);
}

h1::before {
  animation: crack1 2.5s linear infinite;
  clip-path: polygon(0% 0%, 110% 0%, 100% 100%, 0% 100%);
}

h1::after {
  animation: crack2 2.5s linear infinite;
  clip-path: polygon(4% 0%, 00% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  margin: 0 auto;
}

.neon {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 44px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

/* .btn {
  background-color: none;
  width: 250px;
  color: #ffffff;
  float: right;
  padding: 1px;
  border-radius: 10000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 10px;
  /* font-size: 2rem;
  padding: 15px 35px;
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: solid;
  width: 20%;
  margin: 40px auto; */
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
/* opacity: 0.5; */

/* .btn:hover {
  background: yellow;
  /* color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */

/* a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
} */

/* a {
  text-decoration: none;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  color: black;
  font-weight: bolder;
} */
